<div class="row">
    <div class="box">
        <div>
            <label for="sports" style="padding-right:1.5rem;">Dyscyplina</label>
            <select id="sports" data-bind="options: sports, optionsText: 'Name', value: selectedSport"></select>
        </div>
        <div>
            <label for="cities" style="padding-right:4.5rem;">Miasto</label>
            <select id="cities" data-bind="options: cities, value: selectedCity"></select>
        </div>
        <div>
            <label for="date" style="padding-right:6rem;">Data</label>
             <input id="date" type="date" data-bind="value: date" />
        </div>
        <div>
            <button data-bind="click: search">Szukaj</button>
        </div>
    </div>

    <div class="box" >
        <table class="table table-hover">
            <thead>
            <th>Dyscyplina</th>
            <th>Zalożyciel</th>
            <th>Ile graczy</th>
            <th>Koszt</th>
            <th>Data</th>
            <th>Godziny</th>

            </thead>
            <tbody data-bind="foreach: searchedEvents">
                <tr class="active" data-bind="click: $parent.goToEventInfo">
                    <td data-bind="text: Sport.Name"></td>
                    <td data-bind="text: FounderName"></td>
                    <td data-bind="text: PlayersNeeded"></td>
                    <td data-bind="text: Cost"></td>
                    <td data-bind="text: Date"></td>
                    <td><span data-bind="text: StartTime"></span> - <span data-bind="text: EndTime"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>